---
layout: default
title: Programação
javascript_imports: jquery.fancybox-1.3.1.pack guests
---

%p * As oficinas terão vagas limitadas: 60 pessoas.
%table#tabela
  %tr
    %td.dia{ :colspan => '3' } 06/04 - Terça-Feira
  %tr
    %th{ :scope => "col"} Horário
    %th{ :scope => "col", :colspan => '2' } Auditório
  %tr
    %td.horario 14:00-19:30
    %td{ :colspan => '2' } Credenciamento, inscrição de congressistas e entrega de material.
  %tr
    %td.horario 19:30-20:00
    %td{ :colspan => '2' } Sessão solene de abertura.
  %tr
    %td.horario 20:00-21:00
    %td{ :colspan => '2'} 
      %strong Conferência:
      Mercados Feiras: Uma Cozinha Feita a Partir dos Ingredientes Nacionais.
      %br
      %strong Conferencista:
      Rodrigo Oliveira – Restaurante Mocotó/ SP
  %tr
    %td.horario 21:00
    %td{ :colspan => '2' } Encerramento das atividades do dia.
  %tr
    %td.dia{ :colspan => '3' } 07/04 - Quarta-Feira 
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col"}  Oficina - A
    %th{ :scope => "col"}  Oficina - B
  %tr
    %td.horario 08:00-12:20
    %td.part
      %strong Tema:
      Gastronomia e Ciência: A cozinha de autor e suas novas técnicas. 
      %br
      %strong Ministrante:
      Chef Gabriel Vidolin /SP
    %td.part
      %strong Tema:
      Valorização do regionalismo.
      %br
      %strong Ministrante:
      Beth Beltrão /MG
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col", :colspan => '2' } Atividades
  %tr
    %td.horario 08:00-09:00
    %td{ :colspan => '2' }
      %strong Palestra: 
      História da Cozinha Brasileira. 
      %br
      %strong Palestrante:
      Prof. Ricardo Maranhão /SP
  %tr
    %td.horario 09:00-10:00
    %td{ :colspan => '2' }
      %strong Palestra: 
      A Importância de uma Entidade Representativa de Classe para Consolidação do Setor de Alimentação Fora do Lar. 
      %br
      %strong Palestrante:
      Paulo Solmuchi /MG
  %tr
    %td.horario 10:00-10:20
    %td{ :colspan => '2' } 
      %strong Intervalo
  %tr
    %td.horario 10:20-11:20
    %td{ :colspan => '2' }
      %strong Palestra: 
      Desmistificação Sobre o Vinho: Tradição X Inovação.  
      %br
      %strong Palestrante:
      Gilvan Passos /RN
  %tr
    %td.horario 11:20-12:20
    %td{ :colspan => '2' }
      %strong Palestra: 
      A Arca do Gosto Brasil.
      %br
      %strong Palestrante:
      Roberta Marins de Sá /DF
  %tr
    %td.horario 12:20-14:00
    %td{ :colspan => '2' } 
      %strong Intervalo para almoço
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col"}  Oficina - A
    %th{ :scope => "col"}  Oficina - B
    %tr
      %td.horario 14:00-17:00
      %td.part
        %strong Tema:
        Panificação clássica brasileira.
        %br
        %strong Ministrante:
        Chef Rogério Shimura /SP
      %td.part
        %strong Tema:
        Confeitaria Clássica.
        %br
        %strong Ministrante:
        Chef Rafael Barros /SP
    %tr
      %th{ :scope => "col"}  Horário
      %th{ :scope => "col", :colspan => '2' } Atividades
    %tr
      %td.horario 14:00-15:00
      %td{ :colspan => '2' }
        %strong Palestra:
        Higiene de Alimentos e sua Necessidade – Lançamento do Livro.
        %br
        %strong Palestrante:
        Cláudio Lima /CE
    %tr
      %td.horario 15:00-16:00
      %td{ :colspan => '2' }
        %strong Palestra:
        Identidade - as raizes são os outros: o caso do macarrão
        %br
        %strong Palestrante:
        Michele Maisto /RN
    %tr
      %td.horario 16:00-16:20
      %td{ :colspan => '2' } 
        %strong Intervalo
    %tr
      %td.horario 16:20-17:20
      %td{ :colspan => '2' }
        %strong Palestra:
        Novos Temperos Brasileiros. 
        %br
        %strong Palestrante:
        Neide Rigo /SP
    %tr
      %td.dia{ :colspan => '3' } 08/04 – Quinta-feira  
    %tr
      %th{ :scope => "col"}  Horário
      %th{ :scope => "col"}  Oficina - A
      %th{ :scope => "col"}  Oficina - B
    %tr
      %td.horario 08:00-12:20
      %td.part
        %strong Tema:
        O Cacau é Nosso.
        %br
        %strong Ministrante:
        Fábio Sicília /PA
      %td.part
        %strong Tema:
        Gastronomia Brasileira.
        %br
        %strong Ministrante:
        Chef Perin /SP
    %tr
      %th{ :scope => "col"}  Horário
      %th{ :scope => "col", :colspan => '2' } Atividades
    %tr
      %td.horario 08:00-09:00
      %td{ :colspan => '2' }
        %strong Palestra: 
        Formação da Gastronomia Papa-Jerimum. 
        %br
        %strong Palestrante:
        Jardelino Lucena /RN
    %tr
      %td.horario 09:00-10:00
      %td{ :colspan => '2' }
        %strong Palestra: 
        Importância dos Concursos Internacionais de Gastronomia e a Participação do Brasil. 
        %br
        %strong Palestrante:
        Rosa Moraes /SP
    %tr
      %td.horario 10:00-10:20
      %td{ :colspan => '2' } 
        %strong Intervalo
    %tr
      %td.horario 10:20-11:20
      %td{ :colspan => '2' }
        %strong Experiência: 
        Eu Participei de um Concurso Internacional. 
        %br
        %strong Palestrante:
        Rafael Barros /SP
    %tr
      %td.horario 11:20-12:20
      %td{ :colspan => '2' }
        %strong Mesa Redonda: 
        A Cozinha Brasileira – Nacional ou Regional?
        %br
        %strong Participantes:
        %br
        %ul
          %li
            %span Prof. Ricardo Maranhão /SP
          %li
            %span Celso Cruz /RN
          %li
            %span Chef Lucia Soares /SP
    %tr
      %td.horario 12:20-14:00
      %td{ :colspan => '2' } 
        %strong Intervalo para almoço
    %tr
      %th{ :scope => "col"}  Horário
      %th{ :scope => "col"}  Oficina - A
      %th{ :scope => "col"}  Oficina - B
    %tr
      %td.horario 14:00-17:00
      %td.part
        %strong Tema:
        Gastronomia Hospitalar.
        %br
        %strong Ministrante:
        Juliano Gonçalves (SENAC NATAL)
      %td.part
        %strong Tema:
        Confeitaria Brasileira.
        %br
        %strong Ministrante:
        Chef Lúcia Soares /SP
    %tr
      %th{ :scope => "col"}  Horário
      %th{ :scope => "col", :colspan => '2' } Atividades
    %tr
      %td.horario 14:00-15:00
      %td{ :colspan => '2' }
        %strong Palestra:
        Mandioca: A Rainha do Brasil.
        %br
        %strong Palestrante:
        Tereza Corção /RJ
    %tr
      %td.horario 15:00-16:00
      %td{ :colspan => '2' }
        %strong Mesa Redonda:
        A Formação do Profissional da Gastronomia: Gastrônomo, Chef? 
        %br
        %strong Palestrante:
        %br
        %ul
          %li
            %span Profª Rosa Morais /SP
    %tr
      %td.horario 16:00-16:20
      %td{ :colspan => '2' } 
        %strong Intervalo
    %tr
      %td.horario 16:20-17:20
      %td{ :colspan => '2' }
        %strong Mesa Redonda:
        Eventos – Experiências e Dificuldades. 
        %br
        %strong Participantes:
        %br
        %ul
          %li
            %span Simone Muniz – Idealizadora do Nordeste Culinária /PE
          %li
            %span Celso Cruz /RN
    %tr
      %td.horario 17:20-18:20
      %td{ :colspan => '2' }
        %strong Palestra:
        O Desafio de Implantar Qualificação Profissional em Segurança de Alimentos no Brasil. 
        %br
        %strong Palestrante:
        %br
        %ul
          %li
            %span Representante da Covisa/SMS Natal /RN
          %li
            %span Paulo Solmichi /MG

%h2 Convidados

%ul#guest_list
  = guest_detail('Cláudio Lima', 'claudio', 'CE', ['Mestre em Tecnologia de Alimentos (UFC)', 'Especialista em Alimentos e Saúde Pública (ANVISA-UFC)', 'Engenheiro de Alimentos (UFC)', 'Colunista do Jornal O Povo e apresentador de TV (programa Inspetor Saúde – TV Jangadeiro/ SBT Fortaleza)'], 'claudio.jpg')
  = guest_detail('Fabio Sicília', 'fabio', 'PA', ['Chefe Master, formado pelo ICIF (Instituto de Culinária Italiano Para Estrangeiros)'])
  = guest_detail('Luis Fernando Perin', 'perin', 'SP', ['Formado em gastronomia pela Universidade Anhembi Morumbi com cursos de especialização nos Estados Unidos e Inglaterra.', 'Trabalhei com Daniel Bulud em New York e com Sergio Arno entre outros em São Paulo.', 'Consultor em gastronomia da TAM – linhas aéreas', 'Chef executivo da VIKING range', 'Professor do curso de Gastronomia e do curso de pós graduação em Padrões Gastronômicos da Universidade Anhembi Morumbi', 'Luis Fernando Perin Gastronomia – realização de eventos para públicos específicos', 'Coordenador e professor do curso de tecnologia em Gastronomia da Universidade Guarulhos-SP'], 'perin.jpg')
  = guest_detail('Michele Maisto', 'maisto', 'RN', ['Bacharel em línguas (Português e Italiano) pela <em>University of Wales College of Cardiff</em> (Grã-Bretanha)', 'Diretor e professor do <em>Centro di Cultura Italiana Madrelingua</em> em Natal', 'Organiza o evento gastronômico <em>È ora di pasta - Mostra do Macarrão</em>', 'Assina a coluna Letras e Pratos do caderno Família no jornal Tribuna do Norte. 2007 – 2010', 'Assina a coluna Omnivorum do portal Deguste –Gastronomia Potiguar. 2008 – 2010'])
  = guest_detail('Rafael Barros', 'barros', 'SP', ['Graduado pelo Instituto de Arte de Fort Lauderdale no programa de Artes Culinarias', 'Trabalhou nos Hoteis DELANO – Miami Beach, Ritz – LISBOA', 'Pestana – BAHIA E GRand Hyatt SP', 'Chefe é Sócio da Opera Ganache – Alta Confeitaria', 'Ganhador de vários prêmios e concursos.Representou o Brasil na Copa Maya México e Copa do Mundo da Confeitaria – Lyon FRANÇA', 'Trabalhou em diversas Universidades em SP como professor e coordenador'], 'barros.jpg')
  = guest_detail('Rogério Shimura', 'shimura', 'SP', ['Em 2010, Aula especial com chef Pascal Barbot – Restaurante Astrance – 3 estrelas michelin – Paris – França 11/03/2010', 'Em 2009, consultoria no Restaurante D.O.M. e DALVA e DITO do chef Alex Atala', 'Em 2009, consultoria na confeitaria Nami Choux em São Paulo', 'Em 2008, aulas na Pós graduação na Universidade Anhembi Morumbi', 'Europain 2010 – Feira Internacional de Panificação e Confeitaria – França – 06 a 10 de março 2010', 'Associazione Verace Pizza Napolitana – 2009 – Curso Master', 'Fipan 2009 – Panconfest – Festival da Panificação e Confeitaria', 'Copa Bunge 2009 – Fipan 2009', 'ACAL 2009 – Associação Culinária de Alagoas', '<b>Prêmios:</b>', 'Baker Top Receitas 2008', 'Baker Top Receitas 2004', 'Baker Top 2003', 'FISPAL 2003', 'FIPAN 2003', '<b>Televisão:</b>', 'Mais Você – TV Globo – Ana Maria Braga', 'Bom Dia Brasil – TV Globo', 'Bom Dia São Paulo – TV Globo', 'Pequenas Empresas Grandes Negócios – TV Globo'], 'shimura.jpg')
  = guest_detail('Lucia Soares', 'lucia', 'SP', ['Chef confeiteira instrutora dos cursos de graduação e pós-graduação em gastronomia da Universidade Anhembi Morumbi das disciplinas: Confeitaria francesa e Confeitaria brasileira', 'Atuando como pesquisadora junto ao Centro de pesquisa de Gastronomia brasileira da mesma Universidade', 'É pedagoga, pós-graduada em educação', 'Mestranda em Comunicação Contemporânea e Chef da ABAGA'], 'lucia.jpg')
  = guest_detail('Beth Beltrão', 'beth', 'MG', [], 'beth.jpg')
  = guest_detail('Ricardo Maranhão', 'ricardo', 'SP', ['Doutor em História e Mestre em Ciências Sociais pela Universidade de São Paulo', 'Professor de Gastronomia na Universidade Anhembi Morumbi', 'Palestrante e professor visitante em instituições do Mèxico, Canadá, França, Alemanha, Bélgica e Cuba', 'Autor e/ou organizador de 20 livros publicados, entre os quais "Árabes no Brasil: História e Sabor", "Caminhos da Conquista" e "Churrasco, Paixão Nacional"'])
  = guest_detail('Roberta Marins de Sá', 'marins', 'DF', ['Cientista de Alimentos com Doutorado em Bioquímica de Alimentos', 'Presidente da Comissão Brasileira da Arca do Gosto Slow Food', 'Membro da Comissão Internacional da Arca do Gosto', 'Representante do Brasil no Conselho Internacional do Slow Food', 'Líder do Convivium Slow Food Cerrado'])
  = guest_detail('Rodrigo Oliveira', 'rodrigo', 'SP', ['Se formou em Gastronomia e está há 7 anos no comando do Mocotó, aclamado restaurante de cozinha brasileira da capital. Paulistano de 29 anos, o premiado chefe é o responsável pelo novo momento do que um dia foi uma Casa do Norte', 'O estabelecimento foi aberto em 1973 por seu pai, o pernambucano José de Almeida. O pequeno empório fez fama e conquistou o público graças a um prato que estrela o seu cardápio há 35 anos, caldo de mocotó. De lá pra cá, o menu foi se aprimorando, a casa foi crescendo e hoje mostra o melhor da culinária do sertão pra gente de todos os cantos. O restaurante, que vem colecionando prêmios nos últimos anos, vai se consolidando como uma referência para a cozinha regional no Brasil'], 'rodrigo.jpg')
  = guest_detail('Neide Rigo', 'neide', 'SP', ['Trabalha com cozinha experimental no desenvolvimento de receituários', 'É membro da comissão nacional da Arca do Gosto, do Slow Food,  escreve sobre ingredientes para a coluna Cozinha da revista Caras e é editora do Blog Come-se, onde publica curiosidades sobre o mundo dos ingredientes, especialmente brasileiros'])
