---
layout: default
title: Programação
javascript_imports: jquery.fancybox-1.3.1.pack guests
---

%p * As oficinas terão vagas limitadas: 60 pessoas.
%table#tabela
  %tr
    %td.dia{ :colspan => '3' } 06/04 - Terça-Feira
  %tr
    %th{ :scope => "col"} Horário
    %th{ :scope => "col"} Atividade
    %th{ :scope => "col"} Local
  %tr
    %td.horario 14:00-19:30
    %td Credenciamento, inscrição de congressistas e entrega de material.
    %td.local Campus Roberto Freire
  %tr
    %td.horario 19:30-20:00
    %td Sessão solene de abertura.
    %td{ :rowspan => 3 } Praia Mar Hotel
  %tr
    %td.horario 20:00-21:00
    %td
      %strong Conferência:
      Mercados Feiras: Uma Cozinha Feita a Partir dos Ingredientes Nacionais.
      %br
      %strong Conferencista:
      Rodrigo Oliveira – Restaurante Mocotó/ SP
  %tr
    %td.horario 21:00
    %td Encerramento das atividades do dia.

%table#tabela.programacao
  %tr
    %td.dia{ :colspan => '3' } 07/04 - Quarta-Feira 
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col"}  Oficinas
    %th{ :scope => "col"}  Local
  %tr
    %td.horario{:rowspan => 2} 09:00-12:00
    %td
      %strong Tema:
      Gastronomia e Ciência: A cozinha de autor e suas novas técnicas. 
      %br
      %strong Ministrante:
      Chef Gabriel Vidolin /SP
    %td.local
      Cozinha Show A
  %tr
    %td
      %strong Tema:
      A nova cozinha sertaneja
      %br
      %strong Ministrante:
      Rodrigo Oliveira /SP
    %td
      Cozinha Show B
  %tr
    %td.horario{:rowspan => 2} 14:00-17:00
    %td
      %strong Tema:
      Panificação clássica brasileira
      %br
      %strong Ministrante:
      Chef Rogério Shimura /SP
    %td Cozinha Show A
  %tr
    %td
      %strong Tema:
      Confeitaria Clássica.
      %br
      %strong Ministrante:
      Chef Rafael Barros /SP
    %td Cozinha Show B
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col"} Palestras
    %th{ :scope => "col"} Local
  %tr
    %td.horario{:rowspan => 3} 19:30-20:15
    %td
      %strong Palestra:
      História da cozinha brasileira
      %br
      %strong Palestrante:
      Prof. Ricardo Maranhão /SP
    %td Sala 1
  %tr
    %td
      %strong Palestra:
      Gastronomia brasileira
      %br
      %strong Palestrante:
      Roberta Marins de Sá /DF
    %td Sala 2
  %tr
    %td
      %strong Palestra:
      Desmistificação sobre o vinho: Tradição X Inovação
      %br
      %strong Palestrante:
      Gilvan Passos /RN
    %td Sala 3

%table#tabela.programacao
  %tr
    %td.dia{ :colspan => '3' } 08/04 – Quinta-feira  
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col"}  Oficinas
    %th{ :scope => "col"}  Local
  %tr
    %td.horario{:rowspan => 2} 09:00-12:00
    %td
      %strong Tema:
      O Cacau é Nosso
      %br
      %strong Ministrante:
      Fábio Sicília /PA
    %td Cozinha Show A
  %tr
    %td
      %strong Tema:
      Gastronomia Brasileira
      %br
      %strong Ministrante:
      Chef Luis Fernando Perin /SP
    %td Cozinha Show B
  %tr
    %td.horario{:rowspan => 2} 14:00-17:00
    %td
      %strong Tema:
      Gastronomia hospitalar
      %br
      %strong Ministrante:
      Juliano Gonçalves /RN
    %td Cozinha Show A
  %tr
    %td
      %strong Tema:
      Confeitaria Brasileira
      %br
      %strong Ministrante:
      Chef Lúcia Soares /SP
    %td Cozinha Show B
  %tr
    %th{ :scope => "col"}  Horário
    %th{ :scope => "col"}  Palestras
    %th{ :scope => "col"}  Local
  %tr
    %td.horario{:rowspan => 3} 19:30-20:15
    %td
      %strong Tema:
      A importância do estágio, extensão e dos concursos na vida do profissional da gastronomia
      %br
      %strong Ministrante:
      Rosa Moraes /SP
    %td Sala 1
  %tr
    %td
      %strong Tema:
      Eu participei de um concurso internacional
      %br
      %strong Ministrante:
      Rafael Barros /SP
    %td Sala 2
  %tr
    %td
      %strong Tema:
      Higiene de alimentos e sua necessidade - Lançamento do livro
      %br
      %strong Ministrante:
      Cláudio Lima /CE
    %td Sala 3


%h2 Convidados

%ul#guest_list
  = guest_detail('Cláudio Lima', 'claudio', 'CE', ['Mestre em Tecnologia de Alimentos (UFC)', 'Especialista em Alimentos e Saúde Pública (ANVISA-UFC)', 'Engenheiro de Alimentos (UFC)', 'Colunista do Jornal O Povo e apresentador de TV (programa Inspetor Saúde – TV Jangadeiro/ SBT Fortaleza)'], 'claudio.jpg')
  = guest_detail('Fábio Sicília', 'fabio', 'PA', ['Chefe Master, formado pelo ICIF (Instituto de Culinária Italiano Para Estrangeiros)'], 'fabio.jpg')
  = guest_detail('Gabriel Vindolin', 'gabriel', 'SP', ['O cozinheiro de São João da Boa Vista propõe um outro olhar a respeito da alimentação.', 'Com passagens por restaurantes como Le pre catelan ( Rio de Janeiro ) Herbstreet ( Dublin Irlanda),  Trateur Lênotre ( Paris ) e el Bulli, Gabriel trabalha com o sutil, utilizando tinturas vibracionais, Florais, Oléos essenciais e conhecimentos ancestrais. Nesta cozinha alimento e o sagrado se conectam para comprovar que a alimentação é muito mais que nutrição.'], 'gabriel.jpg')
  = guest_detail('Gilvan Passos', 'gilvan', 'RN', [])
  = guest_detail('Juliano Gonçalves', 'juliano', 'RN', ['É gastrônomo pelo Senac Águas de São Pedro - SP', 'Professor do curso de cozinheiro do Senac Barreira Roxa', 'Ministra oficinas pelo RN e participa de concursos de gastronomia', 'Mudou-se para Natal há dois anos e ama a gastronomia Potiguar', 'Adora alta gastronomia, mas sente saudades mesmo é da leitoa com farofa e feijão que comia nas férias de infância passadas na fazenda'], 'juliano.jpg')
  = guest_detail('Lúcia Soares', 'lucia', 'SP', ['Chef confeiteira instrutora dos cursos de graduação e pós-graduação em gastronomia da Universidade Anhembi Morumbi das disciplinas: Confeitaria francesa e Confeitaria brasileira', 'Atuando como pesquisadora junto ao Centro de pesquisa de Gastronomia brasileira da mesma Universidade', 'É pedagoga, pós-graduada em educação', 'Mestranda em Comunicação Contemporânea e Chef da ABAGA'], 'lucia.jpg')
  = guest_detail('Luis Fernando Perin', 'perin', 'SP', ['Formado em gastronomia pela Universidade Anhembi Morumbi com cursos de especialização nos Estados Unidos e Inglaterra.', 'Trabalhei com Daniel Bulud em New York e com Sergio Arno entre outros em São Paulo.', 'Consultor em gastronomia da TAM – linhas aéreas', 'Chef executivo da VIKING range', 'Professor do curso de Gastronomia e do curso de pós graduação em Padrões Gastronômicos da Universidade Anhembi Morumbi', 'Luis Fernando Perin Gastronomia – realização de eventos para públicos específicos', 'Coordenador e professor do curso de tecnologia em Gastronomia da Universidade Guarulhos-SP'], 'perin.jpg')
  = guest_detail('Rafael Barros', 'barros', 'SP', ['Graduado pelo Instituto de Arte de Fort Lauderdale no programa de Artes Culinarias', 'Trabalhou nos Hoteis DELANO – Miami Beach, Ritz – LISBOA', 'Pestana – BAHIA E GRand Hyatt SP', 'Chefe é Sócio da Opera Ganache – Alta Confeitaria', 'Ganhador de vários prêmios e concursos.Representou o Brasil na Copa Maya México e Copa do Mundo da Confeitaria – Lyon FRANÇA', 'Trabalhou em diversas Universidades em SP como professor e coordenador'], 'barros.jpg')
  = guest_detail('Ricardo Maranhão', 'ricardo', 'SP', ['Doutor em História e Mestre em Ciências Sociais pela Universidade de São Paulo', 'Professor de Gastronomia na Universidade Anhembi Morumbi', 'Palestrante e professor visitante em instituições do Mèxico, Canadá, França, Alemanha, Bélgica e Cuba', 'Autor e/ou organizador de 20 livros publicados, entre os quais "Árabes no Brasil: História e Sabor", "Caminhos da Conquista" e "Churrasco, Paixão Nacional"'])
  = guest_detail('Roberta Marins de Sá', 'marins', 'DF', ['Cientista de Alimentos com Doutorado em Bioquímica de Alimentos', 'Presidente da Comissão Brasileira da Arca do Gosto Slow Food', 'Membro da Comissão Internacional da Arca do Gosto', 'Representante do Brasil no Conselho Internacional do Slow Food', 'Líder do Convivium Slow Food Cerrado'])
  = guest_detail('Rodrigo Oliveira', 'rodrigo', 'SP', ['Se formou em Gastronomia e está há 7 anos no comando do Mocotó, aclamado restaurante de cozinha brasileira da capital. Paulistano de 29 anos, o premiado chefe é o responsável pelo novo momento do que um dia foi uma Casa do Norte', 'O estabelecimento foi aberto em 1973 por seu pai, o pernambucano José de Almeida. O pequeno empório fez fama e conquistou o público graças a um prato que estrela o seu cardápio há 35 anos, caldo de mocotó. De lá pra cá, o menu foi se aprimorando, a casa foi crescendo e hoje mostra o melhor da culinária do sertão pra gente de todos os cantos. O restaurante, que vem colecionando prêmios nos últimos anos, vai se consolidando como uma referência para a cozinha regional no Brasil'], 'rodrigo.jpg')
  = guest_detail('Rogério Shimura', 'shimura', 'SP', ['Em 2010, Aula especial com chef Pascal Barbot – Restaurante Astrance – 3 estrelas michelin – Paris – França 11/03/2010', 'Em 2009, consultoria no Restaurante D.O.M. e DALVA e DITO do chef Alex Atala', 'Em 2009, consultoria na confeitaria Nami Choux em São Paulo', 'Em 2008, aulas na Pós graduação na Universidade Anhembi Morumbi', 'Europain 2010 – Feira Internacional de Panificação e Confeitaria – França – 06 a 10 de março 2010', 'Associazione Verace Pizza Napolitana – 2009 – Curso Master', 'Fipan 2009 – Panconfest – Festival da Panificação e Confeitaria', 'Copa Bunge 2009 – Fipan 2009', 'ACAL 2009 – Associação Culinária de Alagoas', '<b>Prêmios:</b>', 'Baker Top Receitas 2008', 'Baker Top Receitas 2004', 'Baker Top 2003', 'FISPAL 2003', 'FIPAN 2003', '<b>Televisão:</b>', 'Mais Você – TV Globo – Ana Maria Braga', 'Bom Dia Brasil – TV Globo', 'Bom Dia São Paulo – TV Globo', 'Pequenas Empresas Grandes Negócios – TV Globo'], 'shimura.jpg')
  = guest_detail('Rosa Moraes', 'rosa', 'SP', [])
