!!! XML
!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %title
      II Congresso Nacional de Gastronomia
      - if page.title
        \-
        = page.title
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    - %w{reset text 960 style sifr}.each do |style|
      %link{:href => "css/#{style}.css", :rel => 'stylesheet'}
    / [if IE]<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]

  %body
    #header
      %h1
        %a.notext(href='index')
          II Congresso Nacional de Gastronomia

    %div{:class => "container_16 #{layout_type}"}
      #sidebar.grid_3
        %ul
          - site.posts.each do |post|
            %li{:class => "#{'current' if (page.title == post.title)}"}
              %a{ :href => post.url}= post.title

      #content.grid_13
        - if layout_type == 'internal_page'
          #logo_conag.grid_3.pull_1.alpha
            %img{ :src => "images/app/logo_conag_mini.png", :alt => "II CONAG - Congresso Nacional de Gastronomia" }
          .grid_10.omega
            %h2= page.title
            = content
        - else
          = content
      .clear
    #footer
      .container
        .patrocinio_apoio
          %a{ :href => "", :target => "_blank" }
            %img.espace_patrocinio{ :src => "images/app/logo_emprotur.png", :alt => "Emprotur" }
          %a{ :href => "http://www.bb.com.br", :target => "_blank" }
            %img{ :src => "images/app/logo_bb.png", :alt => "Banco do Brasil" }
          %a{ :href => "", :target => "_blank" }
            %img{ :src => "images/app/logo_macaiba.png", :alt => "Prefeitura Municipal de Maca\303\255ba" }
          %a{ :href => "", :target => "_blank" }
            %img{ :src => "images/app/logo_ale.png", :alt => "Ale Combust\303\255veis" }
          %a{ :href => "http://www.rn.gov.br", :target => "_blank" }
            %img.espace_promocao{ :src => "images/app/logo_govrn.png", :alt => "Governo do RN" }
          %a{ :href => "http://www.ideiaseventos.com.br", :target => "_blank" }
            %img.espace_organizacao{ :src => "images/app/logo_ideias.png", :alt => "Id\303\251ias Eventos" }
        .copyright
          %span.name
            ©2009 | II CONAG | II Congresso Nacional de Gastronomia
          %br
          %span.email
            %a{ :href => "mailto:conagnatal2010@ideiaseventos.com.br" }
              conagnatal2010@ideiaseventos.com.br
    %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js', :type => 'text/javascript' }
    - %w{sifr sifr-config jquery.tools.min theme}.each do |js|
      %script{ :src => "js/#{js}.js", :type => 'text/javascript'}
